<script>
$('#ProgressDiv').hide();
</script>
<html>
  <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Bootstrap 101 Template</title>     	
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">   
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
       <div class="container">
          <div class="navbar-header">
             <a class="navbar-brand" href="#">
                <img alt="Brand" height="35" width="150" src="http://contactcenterworld.com/images/company/loyalty-one-largex3-logo.gif">
             </a>
         </div>
         <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
         </div><!--/.nav-collapse -->	
       </div>
    </nav>
    <div class="container">
      <div class="row">
	<div class=".col-xs-6">
            <label for="inputHelpBlock">Please Choose an action</label> 
	    <div class="input-group">
	      <input type="text" id='inputHelpBlock' class="form-control" aria-describedby="helpBlock">
	      <div class="input-group-btn">
		<button type="button" id='DropDownB' class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
		  <li><a href="#">Permutation</a></li>
		  <li><a href="#">Dictionary</a></li>
		</ul>
	      </div><!-- /btn-group -->
	    </div><!-- /input-group -->
	    <span id="helpBlock" class="help-block">After Choosing an action please write the desired word and click submit</span>
	    </br>
	    <button type="submit" id="per" class="btn btn-default">Submit</button>
	    </br></br>
	  </div><!-- /.col-lg-6 -->
          <div class=".col-xs-6">
	  </div><!-- /.col-lg-6 -->
      </div>
      <div class="row">
	<div class=".col-xs-6">
		<div class="progress" id='ProgressDiv'>
		  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		    <span class="sr-only">45% Complete</span>
		  </div>
		</div>	
	</div><!-- /.col-lg-6 -->
      <div class="row">
	<div class=".col-xs-6">
	   <div id='result' class="list-group">
	   </div>
	</div>
      </div>
      <div class="row">
        <div class=".col-xs-6">
           <div id='page' class="list-group">
           </div>
        </div>
      </div>
    </div>    
  </body>
</html>
<script>
var GData = {};
var url = '';
var page_numbers = 5 ;
	function showdata(num)
	{
				
				var upper_limit = num * 5 ;
				var lower_limit = upper_limit - 5;
				if ( lower_limit < 0 )
					lower_limit = 0;
				if ( upper_limit > GData.length )
					upper_limit = GData.length;
				console.log('upper_limit = '+upper_limit+' lower_limit = '+lower_limit);
                                var DHTML = '';//'<ul class="list-group">';
                                for( i = lower_limit; i < upper_limit; i++) {
                                        //DHTML = DHTML + '<li class="list-group-item">'+data[i]+'</li>';
					if(  $('#DropDownB').text() == 'Permutation ' )
					{
						console.log('Permutation operation');
					        DHTML = DHTML + '<a href="#" class="list-group-item">'+GData[i].join('')+'</a>';
					}
					else
					{ 
                                        	DHTML = DHTML + '<a href="#" class="list-group-item">'+GData[i]+'</a>';
					}

                                }
                                //DHTML = DHTML + '</ul>'
                                $('#result').html(DHTML);
		
	}
	function page(min,num)
	{
		var html = '<nav style="margin-left: auto;margin-right: auto;width: 400px;">';
		var next_max = page_numbers + num ;
		var pre_min = min - page_numbers ;
		var pre_max = num - page_numbers ;
		var flag = 0;
		if( pre_min < 1 )
			pre_min = 1;
		console.log('next_max = '+next_max+' num = '+num);
		if( next_max > Math.ceil(GData.length / page_numbers ) )
		{
			next_max = Math.ceil(GData.length / page_numbers );	
			//flag =  1;
			console.log('(1)next_max = '+next_max);
		}
		html = html+'<ul class="pagination">';
		if( min != 1)
		{
			html = html+'<li><a href="#" onclick="showpages('+pre_min+','+pre_max+');"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
		}
		else
		{
			//html = html+'<li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>';
		}
		for( i = min ; i <= num ; i++)
		{
				html = html+'<li><a href="#" onclick="showdata('+i+');">'+i+'</a></li>';
		}
		if( num != next_max )
		{ 
			html = html+'<li><a href="#" onclick="showpages('+num+','+next_max+');"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';
		}
		else
		{
			//html = html+'<li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>';
		}
		html = html+'</ul>';
		html = html+'</nav>';
		return html
	}
	function showpages(min,num)
	{
                                        html = page(min,num);
                                        $('#page').html(html);
					return false;
		
	}
	$(document).ready(function() {
	$('#ProgressDiv').hide(); 
	$(".dropdown-menu").on('click', 'li a', function(){

	var selText = $(this).text();
	console.log(selText);
	if( selText == 'Permutation' )
	{
		url = '/api/permutate/';
	}
	else if (selText == 'Dictionary')
	{
 		url = '/api/dictionary/';
	} 
        $('#DropDownB').html(selText+' <span class="caret"></span>');
	  $(this).parent('li').siblings().removeClass('active');
	    $('#vl').val($(this).attr('data-value'));
	  $(this).parents('li').addClass("active");
	});
		$( '#per' ).click(function(){
			console.log('per here');
			 var text = $('#inputHelpBlock').val();
			 if(  $('#inputHelpBlock').val().length > 9 && $('#DropDownB').text() == 'Permutation ' )
			 {
                             $('#result').html('<div class="alert alert-danger" role="alert">The server does not support more 9 characters for Permutation</div>');
                             return ;
				
			 }
			 if(url == '')
			 {
			     $('#result').html('<div class="alert alert-danger" role="alert">Please Choose the action!</div>');
			     return ;
			 }
			 $('#ProgressDiv').show();
			 $.ajax({
				type: 'GET',
				data: '',
				url: url+text
			 }).done(function(data){
				$('#ProgressDiv').hide();
				$('#page').html('');
				if( data.length == 0 )
				{
					$('#result').html('<div class="alert alert-success" role="alert">No match found!</div>');
					return ;
	
				}
				GData = data ;
				showdata(1);
				var len = $('#inputHelpBlock').val().length;
   				//console.log(data);
				var length = GData.length;
				if( $('#DropDownB').text() == 'Permutation ')
				{
					length=length/len;
				}
				console.log(length);
				if(length > 25)
				{
					html = page(1,5);
					$('#page').html(html);

				}
				else
				{
					var numP = GData.length / 5;
					numP = Math.ceil(numP);
					html = page(1,numP);
					$('#page').html(html);
				}
			 }).error(function (request, status, error) {
				$('#ProgressDiv').hide();
				$('#page').html('');
				$('#result').html('<div class="alert alert-danger" role="alert">'+request.responseText+'</div>');
			 });			
		});
	});
</script>
